/*
*******************************
  Main Styles
*******************************
*/

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.flashcard {
  #max-width: 380px;
  margin: 0 auto;
  color: #fbfbfb;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 800px;
  #background-color: blue;
}

/**************************
		Menu Button
**************************/

.menu-button{
	text-align: center;
	width: 30px;
	height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ccc;
	background-color: #555;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	text-shadow: 0 -1px 0 #000;
	cursor: pointer;
	float: left;
	padding-top: 5px ;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**************************
		Mode Button
**************************/

.mode-button{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #dc7a6b;
	border: 0 none;
	cursor: pointer;
	float: right;
	#padding: 10px 15px;
	width: 30px;
	height: 30px;
	padding-top: 5px;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**************************
		Menu Window
**************************/

.menu{
  
  position: absolute;
  border: solid #324253;
  top: 150px;
  width: 50%;   
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  display: none;
  z-index: 1;
  
}

.menu-header{
		background-color: #324253;
		font-weight: bold;
	}

.menu-content {
  margin: 0 auto;
  background-color: #606e7e;
  text-align: center;
}

.menu-content ul {
    list-style-type: none;
    margin: 0 ;
    padding: 0 ;
    color: #fbfbfb;
    cursor: pointer;
}

.menu-content li:hover{
	background-color: #4a8bc0;
	}
	
/*****************************
		Setting Window
******************************/

.setting{
 	position: absolute;
  	border: solid #324253;
  top: 60px;
  width: 80%;   
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  
  z-index: 2;
  display: none;
	}

.setting-header{
		background-color: #324253;
		font-weight: bold;
	}

.setting-content {
  padding: 15px 15px 15px 15px;
  background-color: #606e7e;
  text-align: left;
}

.textbox{
	border: 1px double;
	outline: 0;
	height: 20px;
	width: 40px;
	}
	
.setting_footer div{
  width: 50%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  display: inline-block;
  background-color: #606e7e;
}
.setting-ok {
	float: left;
}

.setting-ok:hover{
	background-color: #4a8bc0;
	}

.setting-no:hover {
	background-color: #4a8bc0;
}

/*
*******************************
  Upload Area Styles
*******************************
*/

.upload {
  background-color: #606e7e;
  text-align: center;
  #padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
  padding-top: 5px;
}

.upload label {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

#questions-input-area, #load-questions {
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  z-index: 100;
}

#questions-input-area{
	top: 30px;
	left: 0px;	
	height: 100px;
	}
	
#load-questions{
	top: 130px;
	left: 0px;	
	}

#load-questions {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

/*
*******************************
  Controls: Correct, Wrong Styles
*******************************
*/

.correct, .wrong {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls{
	 position: absolute;
  bottom: 30px;
  width: 100%;
  height: 50px;
  }
  
.controls div {
  width: 50%;
  text-align: center;
  #padding: 25px 0;
  cursor: pointer;
  display: inline-block;
 
}

.controls label {
  font-size: 3em;
  cursor: pointer;
}

.correct {
  background-color: #7dce90;
  float: left;
}

.wrong {
  background-color: #dc7a6b;
}

/*
*******************************
  Question/ Answer Styles
*******************************
*/

.question, .answer {
  #padding: 8px 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
  position: absolute;
  width: 100%;
}

.question p, .answer p {
  margin: 0;
  #padding-bottom: 15px;
}

.answer p a {
  color: #fbfbfb;
}

.question {
  background-color: #4a8bc0;
  #min-height: 120px;
  font-size: 1.3em;
  #height: 100%;
  #display: none;
  top: 30px;
  
}

.answer {
	bottom: 80px;
  background-color: #6fadde;
  #min-height: 200px;
}

.answer p {
  display: none;
}

/*
*******************************
  Progress bar Styles
*******************************
*/

.progressbar{
	height: 30px;
	display: block;
	position: absolute;
	width: 100%;
	bottom: 80px;
}

/*
*******************************
  Footer Styles
*******************************
*/


.footer > div {
	position: absolute;
	bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  font-size: .8em;
  padding: 6px;
  height: 30px;
}

.stats {
  background-color: #324253;
  width: 100%;
}

.questions-count {
  display: inline-block;
}

.current-stats {
  float: right;
  margin-right: 20px;
}

.icon-stats {
  margin-right: 10px;
}